.App {
  text-align: center;
  background-color: #001f3f;
}

.container {
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: center;
}

img {
  padding: 20px;
}

a {
  color: #0074D9;
  font-family: "Niramit", Times, serif; 
}
 
h1 {
  color: #effbff;
  font-family: "Niramit", Times, serif; 
  text-align: center;
}

